<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src ="/scripts/addusers.js"></script>
<script src="/scripts/validation.js"></script>
<script src="/scripts/userInfoStatus.js"></script>
<script src="/scripts/login.js"></script>
<script src ="/scripts/cal.js"></script>
<script src ="/scripts/editUserInfo.js"></script>
<script src ="/scripts/searchName.js"></script>
</body>
</html>
