<!DOCTYPE html>
<html>
<head>
    <title>Gym Data</title>
    <link rel="stylesheet" type="text/css" href="/css/calculator.css">
</head>
<body style ="background-color : #c4c4c4 ">
<div class = "header1">
   <label class="logo" >
       <img src="/images/barbell.png" alt="no logo">
   </label>
   <nav>
       <ul class="nav-bar">
           <li><a href="/" >Calculator</a></li>
           <li><a href="/attendence">Info</a></li>
       </ul>
   </nav>
</div>
