<!DOCTYPE html>
<html>
<head>
    <title>Gym Data</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<header>
    <label class="logo" >
        <img src="/images/barbell.png" alt="no logo">
    </label>

    <nav>
        <ul class="nav">
            <li><a href="" >Sign up</a></li>
            <li><a href="">Dev Team</a></li>
            <li><a href="">About</a></li>
        </ul>
    </nav>
</header>
