
<html>
<head>
   <title>admin - Gym Data</title>
   <link rel="stylesheet" type="text/css" href="/css/styles.css">
   <link rel="stylesheet" type="text/css" href="/css/nav.css">
   <link rel="stylesheet" type="text/css" href="/css/loading.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/barbell.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>

</head>
<body onresize="changeText()" style="background-color: #c4c4c4;">
  <div class="loader-wrapper">
    <img class="loader"src="/images/loading.gif" alt="">
</div>
        <header>
  <div class=navBar>
      <img  class="navBrand"src="/images/barbell.jpg" alt="">
      <nav>
        
              
          
          <div class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
          <div class="navlinks"><ul>
              <li  class="nl">
                  <a href="/subscriptions">subscriptions</a>
              </li>
              <li>
                  <form action="/search" method="POST">
                      <div class="search-form"><input class="search-input" name="searchName" placeholder="Enter first name" type="text">
                          <button  type="submit" class="search-button"><i class="fas fa-search nav-icons" id="search_bar"></i></button>
                      </div>
                  
                  </form>
              </li>
              <li >
                  <a href="/addusers"  class="adduser-icon"><i class="fas fa-user-plus  nav-icons"></i></a>
              </li>
              <li class="nl"><a href="/logout" >logout</a></li>
          </ul></div>
          
      </nav>
  </div>
</header>
  