
<html>
<head>
   <title>Gym Data</title>
   <link rel="stylesheet" type="text/css" href="/css/calculator.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

     <script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>

</head>

<body >
  <div class="box">

<div class = "header1">
   <label class="logo" >
       <img src="/images/barbell.png" alt="no logo">
   </label>
   <nav>
       <ul class="nav-bar">
           <li><a href="/user/calculator"><i class="fas fa-calculator"></i></a></li>
           <li><a href="/attendance">Attendance</a></li>
           <li><a href="/about">about</a></li>
       </ul>
   </nav>
</div>
</div>
