<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/about.css">
    <title>Document</title>
</head>
<body>
    <div class="loader-wrapper">
       <span class="loader"><span class="loader-inner"></span></span>
   
    </div>
    <div class="header">
        <label class="logo" >
            <img src="/images/barbell.jpg" alt="no logo">
        </label>
    </div>


    <section>
        <div class="about">
            <h2 class="heading-content">ABOUT US</h2>
            <div class="info">
                <div class="info_box">
                    <img class="profile_pic" src="/images/sonu.JPG" >
                    <h3>Sonu Bhadana</h3>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error porro soluta nam omnis, similique vero velit est quam, sapiente qui culpa facilis pariatur quis autem eaque illo natus elige</p>
                    </div>
                    <div class="social_media">
                        <a href=""><img src="images/google.svg"></a>
                        <a href=""><img src="images/facebook.jpg"></a>
                        <a href=""><img src="images/instagram.jpg"></a>
                    </div>
                </div>
                <div class="info_box">
                    <img class="profile_pic" src="/images/shray1.jpg" >
                    <h3>Shray</h3>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error porro soluta nam omnis, similique vero velit est quam, sapiente qui culpa facilis pariatur quis autem eaque illo natus elige</p>
                    </div>
                    <div class="social_media">
                        <a href=""><img src="images/google.svg"></a>
                        <a href=""><img src="images/facebook.jpg"></a>
                        <a href=""><img src="images/instagram.jpg"></a>
                    </div>
                </div>
                <div class="info_box">
                    <img class="profile_pic" src="images/IMG_1135 (6).JPG" >
                    <h3>Shray</h3>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem error porro soluta nam omnis, similique vero velit est quam, sapiente qui culpa facilis pariatur quis autem eaque illo natus elige</p>
                    </div>
                    <div class="social_media">
                        <a href=""><img src="images/google.svg"></a>
                        <a href=""><img src="images/facebook.jpg"></a>
                        <a href=""><img src="images/instagram.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact_us">
            <h2 class="heading-content">CONTACT US</h2>
            <div class="contact_box">
                <div class="input_div name">
                    <h3 class="input_field">Name</h3>
                    <input type="text" id="name" name="name" placeholder=" John">
                </div>
                <div class="input_div email">
                    <h3 class="input_field">Email</h3>
                    <input type="email" id="email" name="name" placeholder="  abc@gmail.com">
                </div>
                <div class="input_div desc">
                    <h3 class="input_field">How can we Help ?</h3>
                    <textarea id="desc" placeholder="  Enter Your Query..."></textarea>
                </div>
                <button type="submit" class="submit">Submit</button>
            </div>
        </div>
    </section>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(window).on("load",function(){
	  $(".loader-wrapper").fadeOut("slow");
	});
</script>

</body>
</html>