<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/loading.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <script src="https://kit.fontawesome.com/89e8994d62.js" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
  <title></title>
</head>

<body>
    <header>
        <div class=navBar>
            <img  class="navBrand"src="/images/barbell.png" alt="">
            <nav>
             <div class="hamburger">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="navlinks"><ul>
                    <li  class="nl">
                        <a href="/">Home</a>
                    </li>
                    <li class="nl">
                        <a href="/about_us">About</a>
                    </li>
                    <li  class="nl">
                        <a href="/contact_us">Contact</a>
                    </li>
                    <li class="nl"><a href="#" ><i class="fab fa-github"></i></a></li>
                </ul></div>
                
            </nav>
        </div>
      </header>

<div class="content">
    <div class="row">
          <div class="col-lf">
              <h1 class="heading">Make your work easy with our Gym manager</h1>
              <a class="div-sign-in"href="/login"><div class="sign-in">
                  <div class="white-line-1"></div>
                  <div class="white-line-2"></div>
                  <div class="white-line-3"></div>
                  <p class="login-t">LOGIN</p>
              </div></a>
        </div>
          <div class="col-rg"><img  class="index-img"src="/images/index1.png" alt=""></div>
</div>
</div>
<div class="vertical-bar">
    <div class="circle home-circle"></div>
    <div class="circle about-circle"></div>
    <div class="circle contact-circle"></div>
</div>
<div class="footer">
  
</div>


 </body>
</html>
