body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
  min-height: 100vh;
}

.divCAL{position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #ee5253;

}
.typeCal{
  font-size: 30px;
  font-weight: 600;
}
.text{
  text-align: left;
  margin-left: 150px;
}
#w, #h{
  color: #222f3e;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #341f97;
  width: 200px;
}
  #w:focus, #h:focus{
    border-bottom: 2px solid #341f97;
    width: 300px;
    transition: 0.5s;
  }
  #result{
    color: #341f97;
  }
  #btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-image: linear-gradient(120deg,#ff6b6b, #5f27cd);
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
  }
  #btn:hover{
    box-shadow: 1px 1px 10px #341f97;
  }
  #info{
    font-size: 12px;
    font-family: inherit;
  }
  #cal{
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .choose {
    padding: 15px;
    margin-bottom: 30px;
    border: 5px;
    margin-left: 15px;
  }
  .blue_button{background: none repeat scroll 0 0 #468CD2;
    border-bottom: 3px solid #3277BC;
    text-shadow: 1px 1px 0 #214D73;
    border: medium none;border-radius: 0.3em;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    padding: 7px 14px;}
.frms input[type="text"], [type="password"], [type="file"], textarea, select {background: none repeat scroll 0 0 #fff;
border: 1px solid #ddd;
border-radius: 0.35em;
height: 35px;
margin-bottom: 5px;
margin-top: 5px;
padding: 0 0.5%;
width: 99%;
}
@media only screen and (max-width:650px) {.resp_code {margin: 5px 1px 10px !important;width:auto !important;}
}
