body {
  background-color: #f3f6f6;
  background-image: url("/images/Component 1.svg");

  background-size: cover;
  background-repeat: no-repeat;
  text-align :center;
  font-family: sans-serif;
}
.box{
  margin-top: 30px;
}

.header1 {
  margin: 20px;
  background-color: white;
  border-radius: 30px;
  height: 60px;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
}

.logo {
  padding-top: 5px;
}

.logo img {
  height: 75px;
}

.nav-bar {
  position: relative;
  top: 7px;
}

.nav-bar li {
  display: inline;
  padding-right: 20px;
}

.nav-bar li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.nav-bar li a:hover {
  color: #e5e5e5;
}
.buttons {
  margin-top:30px;
}

.divCAL{
  width : 25%;
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);

}
.typeCal{
  font-size: 30px;
  font-weight: 600;
}
.text{
  text-align: center;

}
#w, #h{
  color: #222f3e;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid #fe5858;
  width: 200px;
}
  #w:focus, #h:focus{
    border-bottom: 2px solid #fe5858;
    width: 300px;
    transition: 0.5s;
  }
  #result{
    color: #fe5858;
  }

  #btn{
    font-family: inherit;
    margin-top: 10px;
    border:none;
    background-image: linear-gradient(to right,#e74e4b,#fb8133);
    color : white;
    font-weight: 900;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
  }
  #btn:hover{
        background-image: linear-gradient(to left,#e74e4b,#fb8133);
      color : white
  }

  #info{
    font-size: 12px;
    font-family: inherit;
  }


  .choose {
    padding: 15px;
    margin-bottom: 30px;
    border: 5px;
    margin-left: 15px;
  }
  .blue_button{background: none repeat scroll 0 0 #468CD2;
    border-bottom: 3px solid #3277BC;
    text-shadow: 1px 1px 0 #214D73;
    border: medium none;border-radius: 0.3em;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    padding: 7px 14px;}
.frms input[type="text"], [type="password"], [type="file"], textarea, select {background: none repeat scroll 0 0 #fff;
border: 1px solid #ddd;
border-radius: 0.35em;
height: 35px;
margin-bottom: 5px;
margin-top: 5px;
padding: 0 0.5%;
width: 99%;
}
@media only screen and (max-width:650px) {
  .divCAL{
    width : 85%;
  }
  .resp_code {margin: 5px 1px 10px !important;
    width:auto !important;}
}
