@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    background-color: #382b47;
    font-family: 'Ubuntu',sans-serif ;
}


nav{
    display: inline-block;
}

.navBar{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    height:60px;
    margin: auto;
    margin-top: 30px;
    position: relative;
    border-radius : 35px;
}
.navBrand {
   display: inline;
   left: 0;
   top : -10px;
   width: 80px;
   height: 80px;

  position: absolute;

}

.hamburger{
    display:none;
}
nav{
    display: flex;
}
.navlinks{
    z-index: 100;
    display: inline-block;
    margin: auto;
}
nav ul {
    z-index: 100;
   margin-top: auto;
  
   display: flex;
   margin-left:auto ;
   height: 50px;
   align-items: right;
   list-style: none;
}
nav ul li{
    z-index: 100;
    display: inline;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}
nav ul li span,nav ul li a{
    z-index: 100;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    color : whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;

}
nav ul li span:hover{
        cursor:pointer;
}
.fa-github{
    font-size: 1.8rem;
}
nav ul li a:hover{
    color: black;
   text-decoration: none;
}



.adduser-icon{
    font-size: 1.5rem;
}
.index-img{
  width: 100%;
  margin-top:auto ;
  margin-bottom: auto;
}
.else{
    height: 95vh;
    display: flex;
    flex-direction: column;
}
.content{
    flex-grow:1;
    margin-top: 50px;
    margin-bottom: 100px;
}
.aboutPage{
    display:none;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    background: #382b47;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    margin: auto;
    height:500px;
    width:350px
}
.img{
    margin-top: 30px;
    display: flex;
}
.img-cont{
    margin: auto;
}
.profile{
    border-radius: 100%;
}
.name-div{
    margin-top: 20px;
    text-align: center;
    display: flex;
    height: 25px;
    border-left:2px solid orange;
    border-radius: 2px;
}
.name{
    color: white;
    margin: auto;
}
.details{
    margin-top: 50px;
    margin: 20px;
    color: white;
}
.link{
    text-decoration: none;
    color: lightskyblue;
}
.inner-detail{
    width: 95%;
    margin:  auto;
}

.brief{
  border-left: 2px solid greenyellow;
  border-radius: 2px;
display: flex;
}
.brief-p{
    margin: auto;
    margin-left: 20px;
    display: inline-block;
}
.socials{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.socials a i{
    font-size: 2rem;
}
.contactPage{
    display: none;
}
.contact-heading{
    color: white;
    font-size: 2.5rem;
}
.contact-paragraph,.contact-paragraph2{
    color:white;
    font-weight: 300;
}
.contact-paragraph{
    margin-top: 2rem;
    font-size: 1.5rem;
}
.contact-paragraph2{
    font-size: 1.2rem;
    margin-top: 0.8rem;
}
.contact-paragraph2>span{
    color : lightskyblue;
}
.contact-form-div{
    margin-top: 2rem;
    width: 100%;
    display: flex;
}
.contact-form{
    width: 70%;
}
.rowF{
    display: flex;
}
.rowF > input{
    width: 45%;
}
.rowF > input:nth-child(2){
    margin-left: auto;
} 
.long{
    width: 100%;
}
input{
    height:50px;
}
textarea{
    height: 200px;
}
input,textarea{
    margin: 1rem 0  1rem 0;
    background: none;
    border:2px solid #4f4362;
    border-radius: 5px; 
    font-size: 1rem;
    color:white;
    padding-left: 10px;
}
input::placeholder,textarea::placeholder{
    color:#4f4362;
    font-family: "Ubuntu" ,sans-serif;
    font-size: 1rem;
    padding-left: 10px;

}
input:focus,textarea:focus,button:focus{
    outline: none;
}
textarea::placeholder{
    padding-top:10px ;
}
.send-email{
    width: 150px;
    height: 40px;
    color: #5a68d8;
    transition: 0.2s ease-in;
    border:2px solid #5a68d8;
    border-radius: 5px;
    background: none;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: auto;
}
.send-btn{
    width: 100%;
    display: flex;
}
.send-email:hover{
    background: #5a68d8;
    color: white;
}
.rowC{
    width: 85%;
    margin: auto;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
}
.col-lf{
    display: inline-block;
}
.col-rg{
    display:  flex;
}
.col-lf{
    width: 45%;
}
.col-rg{
    width: 55%;
}
.heading{
    font-family: 'Ubuntu', sans-serif;
    color:whitesmoke;
    margin-top:20%;
    font-size: 5rem;
    margin-bottom:50px;
}
.div-sign-in{
    text-decoration: none;
}
.sign-in{
    display: flex;
    border : 1.5px solid black;
    background-color: #bf2243;
    border-radius:20px ;
    width: 150px;
    height: 50px;
    position: relative;
}
.div-sign-in:hover{
    text-decoration: none;
   
}
.white-line-1{
    background-color: white;
    height: 1.5px;
    width: 30px;
    position: absolute;
    top : 7px;
    left: 20px;
}
.white-line-2{
    background-color: white;
    height: 1.5px;
    width: 10px;
    position: absolute;
    top : 7px;
    left: 60px;
}
.white-line-3{
    background-color: white;
    height: 1.5px;
    width: 10px;
    position: absolute;
    bottom : 10px;
    right: 20px;
}
.login-t{
    color:white;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer{
    
    height: 140px;
    width: 85%;
   border-top:1px solid #433954;
   margin: auto;
}
.vertical-bar{
    display: flex;
    width: 150px;
    height: 80px;
    justify-content: space-evenly;
    position: absolute;
    top : 40%;
    right: -20px;
    transform: rotate(90deg);
}
.circle{
    width: 20px;
    height:20px;
    border: 2px solid white;
    border-radius: 100%;
    margin: auto;
}


.profile{
    width:130px;
    height:130px;
}
.circle:hover {
  cursor: pointer;
}
.copyright{
    text-align: center;
    margin-top: 10px;
    color: #4f4362;
}
.navlinks ul.open{
    clip-path: circle(1500px at 90% 10%);
    -webkit-clip-path : circle(1500px at 90% 10%);
}
header.header-class{
    height: 200px;
  
}
@media(max-width : 1000px){
    .heading{
        font-size: 4rem;
    }
    .contact-form-div{
        flex-direction: column;
    }
    .contact-form{
        margin-bottom: 2rem;
        width: 90%;
    }
}
@media (max-width : 850px){
    
    .navBar{
        height: 50px;
        position: relative;
    }
    .navBrand{
        height: 70px;
        width: 70px;
         
    }
    .hamburger{
        z-index: 1000;
        width : 30px;
        height: 30px;
        margin: auto;
        display: flex;
        flex-flow: column;
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 5px;
       cursor: pointer;
       
    }
    nav{
        
        width: 100%;
        position: relative;
    }
    .line{
        margin: auto;
        width: 30px;
        height: 4px;
        background-color :white;
        border-radius: 5px;
    }
    .navlinks-add{
        width: 80%;
        z-index: 100;
        margin-top: 10px;
 
    }
    .navlinks ul{
        z-index: 100;
        margin-top: 60px;
        flex-direction: column;
        justify-content:space-between;
        background: black;
        height: 135px;
        width: 100%;
        padding: 0;
       
        border-radius: 10px;
        clip-path: circle(0px at 90% 10%);
        -webkit-clip-path : circle(0px at 90% 10%);
 
    }
    .navlinks ul.open{
        clip-path: circle(1500px at 90% 10%);
        -webkit-clip-path : circle(1500px at 90% 10%);
    }
    header.header-class{
        height: 100px;
      
    }
    .navlinks ul li {
        z-index: 101;
        display: block;
        width: 100%;
        height: 40px;
       
      
        display: inline-block;
        text-align: center;
    }
    .navlinks ul li a {
        margin: auto;
        margin-right: auto;
    }

    .navlinks ul li {
        opacity: 0;
    }
    
     .navlinks ul li.fade{
         opacity : 1;
     }
     .change{
        font-size: 1.2rem;
     }
     .nl:hover{
        border: none;
        border-bottom:3px solid #f0a35d;
     }
     .nl:hover a{
         color: white;
     }
     .vertical{
         display: flex;
     }
     .vertical-bar{
        margin: auto;
         transform: rotate(0deg);
         position: static ;
       
     }
     .heading{
         font-size: 3.5rem;
         text-align: center;
     }
     .row{
         display: inline-block;
         margin: auto;
     }
     .index-img{
         width: 80%;
         margin: auto;
     }
     .col-rg{
         display: flex;
     }
     .content{
         margin-top: 20px;
         display: flex;
            margin-bottom: 20px;
     }
     .aboutPage{
         display: none;
     }
     .contactPage{
         display: none;
     }
     .col-lf{
         display:block;
         width: 100%;
     }
     .col-rg{
         
         width: 100%;
     }
     .div-sign-in{
        margin : auto;

    }
    .sign{
        display: flex;
        width: 100%;
    }
    .sign-in{
        width: 120px;
        height: 40px;
    }
    .contact-form{
        width: 100%;
    }
    .send-email{
        width: 100%;
    }
}
@media(max-width:400px){

    .card{
        height:400px;
        width:250px
    }
    .profile{
        margin-top: 30px;
        width:100px;
        height: 100px;
    }
    .socials{
        margin-top: 20px;
    }
    .heading {
        font-size: 3rem;
        text-align: center;
    }
   .navBrand{
       width: 60px;
       height: 60px;
       top:-5px;
   }
    .white-line-1,.white-line-2{
        top : 5px;
    }
    .white-line-3{
        bottom: 5px;
    }
    .contact-heading{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .contact-paragraph,.contact-paragraph2{
        font-size: 1rem;
    }
    .contact-paragraph2{
        margin-top: 0.5rem;
    }
    .rowF{
        flex-direction: column;
    }
    .rowF > input{
        width: 100%;
    }
  
}
