.logo {
    padding: 0px 0px;
    margin: 0;
    width: 7vh;
    float: left;
  }
  
  
  .header {
    margin: 2vh auto;
    background-color: whitesmoke;
    border-radius: 4vh;
    height:5%;
    width:85%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    right: 0;
    left: 0;
    
  }
  .icons,.links{
    margin: auto;
    color: black;
    margin-bottom: 5px;
  }
  .links a:hover{
       border-bottom: 2px solid black ;
  }
  .adduserIcon:hover{
      border-bottom: none ;
  }
  
  .logo img {
    height: 7vh;
  }
  
  #search_input {
    padding-right: 0px;
    display: none;
    height: 2.5vh;
    border: none;
    border-bottom: 1px solid black;
    background: none ;
    text-align: center;
  }
  .nav-icons ,.links a{
    font-size: 1.5rem;
    color: black;
    margin-right: 8px;
  }
  
  #search_bar{
    height: 3vh;
     margin-bottom: -5px;
     padding-right: 5px;
  }
  
  #cross{
    height: 2vh;
    padding-right: 10px;
    display: none;
  }
  
  .adduser img {
    height: 3vh;
    margin-bottom: -5px;
  }
  
  .menu_bar {
    font-size: 1.5rem;
    margin-bottom: -5px;
  }
  
  
  .nav {
    display: flex;
    padding-right: 15px;
  
  }
  
  .nav .links {
    display: flex;
  }
  
  
  .nav .links a {
    color: #24292e;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
  
  }
  
  .nav .icons {
    display: flex;
    padding-right: 10px;
  }
  
  .nav .menu_bar {
    display: none;
  }
@media (max-width : 700px){
    /*nav-bar*/
  .header {
    height: 1.5vh auto;
    border-radius: 6vh;
    height:4%;
    width:92%;
  }

  .nav .links {
    position: fixed;
    display: none;
    right: 0;
    margin-top: 40px;
    z-index: 999;
    background-color : rgba(2, 2, 2, 0.9);
    text-align: center;
    width: 150px;
   
  }


  .nav .links a , .links a i{
    display: block;
    color : white;
    align-items: center;
    margin-top: 10px;
  }

  .nav .menu_bar {
    display: inline-block;
  }

 

  .logo img {
    height: 5.5vh;
    margin-bottom: -5px;
    margin-left: -12px;
  }  
}  