* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {

  background-image: url("/images/Component 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fef4eb;
}

.header1 {
  margin: 20px;
  background-color: white;
  border-radius: 30px;
  height: 60px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
}

.logo {
  padding-top: 5px;
}

.logo img {
  height: 75px;
}

.nav-bar {
  position: relative;
  top: 7px;
}

.nav-bar li {
  display: inline;
  padding-right: 20px;
}

.nav-bar li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.nav-bar li a:hover {
  color: #e5e5e5;
}

/*footer */
footer {
  float: bottom;
}

/* DARK - MODE*/
/* #24292e */
section {
  height: 80%;
  border: 2px solid black;
}

/*-------------------------------------------------
                     ADD USERS
   -------------------------------------------------*/
.fa-user-plus {
  font-size: 25px;
}

.form {
  background-color: white;
  width: 60%;
  padding-top: 50px;
  margin: auto;
  border-radius: 30px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
}

label {
  font-size: 20px;
}

.user-details {
  position: relative;
  text-align: center;
}

.form-container {
  width: 50%;
  margin: auto;
}

.form-row {
  margin-bottom: 10px;
}

.colright {
  margin-right: 0;
}

.detailsInfo {
  color: #e5e5e5;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
}

.detailsInfo:before {
  content: "";
  width: 150px;
  height: 2px;
  background: #e5e5e5;
  position: absolute;
  left: 0;
  top: 50%;
  margin: auto;
}

.detailsInfo:after {
  content: "";
  width: 150px;
  height: 2px;
  background: #e5e5e5;
  position: absolute;
  right: 0;
  top: 50%;
  margin: auto;
}

.divider {
  border-style: none;
  border-bottom: none;
  height: 2px;
  color: #e5e5e5;
  border-top: 2px solid #e5e5e5;
  margin-top: 30px;
}

.subbtn {
  border-radius: 30px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px;
  width: 150px;
  margin: auto;
}

.subbtn:hover {
  background-color: black;
  color: white;
}

#term, .conditions {
  font-size: 12px;
  color: #c4c4c4;
}

#terms {
  margin-top: 5px;
  margin-right: 5px;
}

/*-------------------------------------------------
                       SUSCRIPTIONS
     -------------------------------------------------*/
.subs-top-container, .subs-top-container:hover {
  text-decoration: none;
}

.user-card {
  width: 85%;
  height: 200px;
  background-color: white;
  margin: 40px auto auto;
  padding: 30px;
  padding-top: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24);
}

.user-card:hover {
  -webkit-box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.24);
}

.row {
  margin-top: 20px;
}

.row-container h4 {
  color: black;
  display: block;
}

.row-container p {
  font-size: 13px;
  margin: 0;
  color: #c4c4c4;
}

.profile-image {
  top: 20px;
  display: flex;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  border: 8px solid black;
}

.time-rem {
  text-align: right;
}

.percentage-bar-container {
  height: 8px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  background-color: green;
}

.right-info {
  text-align: right;
}

.db-status {
  position: absolute;
  top: 45%;
  left: 45%;
  text-align: center;
}

.empty-database {
  font-size: 100px;
  color: red;
}

/*-------------------------------------------------
                       USER INFO
     -------------------------------------------------*/
     .form-info {
       padding-top:0;

     }
.status-bar{
  background-color: red;
  opacity: 0.8;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius:30px 30px 0 0 ;
}
.status-content{
  font-family: sans-serif;
  font-weight: 300;
  color : white;
 margin: 0;
}
.image-userInfo {
  margin: auto;
}

.profile-image-userInfo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 10px solid black;
}

.gymId {
  margin-top: 10px;
  margin-right: 10px;
  text-align: left;
}

.gymId h4 {
  font-size: 18px;
}

.gymId span {
  font-size: 15px;
  color: #c4c4c4;
}

#editButton {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
  border: none;
  top : 100px;
  right: 30px;
  position: absolute;
  background-color: #339aef;
}

.form-info {
  position: relative;
}

#savebtn {
  border-radius: 30px;
  color: #339aef;
  background-color: transparent;
  border: 2px solid #339aef;
  padding: 10px;
  width: 150px;
  margin: auto;
}

#savebtn:hover {
  background-color: #339aef;
  color: white;
}

#delbtn {
  border-radius: 30px;
  color: red;
  background-color: transparent;
  border: 2px solid red;
  padding: 10px;
  width: 150px;
  margin: auto;
}

#delbtn:hover {
  background-color: red;
  color: white;
}

/*-------------------------------------------------
                       FOOTER
     -------------------------------------------------*/
.footer {
  width: 40%;
  height: 50px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: none;
  margin: 30px auto;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
  position: relative;
}

.foot {
  position: relative;
  color: #c4c4c4;
  font-size: 15px;
  text-align: center;
}

/*-------------------------------------------------
                     calculators
   -------------------------------------------------*/
/*---------------------------------------------

                 MEDIA QUERY

  --------------------------------------------*/
@media (max-width: 700px) {

  /*nav-bar*/
  .nav-bar li a {
    font-size: 20px;
  }

  /*users*/
  .form {
    width: 85%;
  }
  .detailsInfo:after, .detailsInfo:before {
    width: 20px;
    margin-left:-10px;
    margin-right:-10px;
  }

  label {
    font-size: 15px;
  }

  /*subscription*/
  .col-sm-6 {
    text-align: center;
  }

  .time-rem {
    margin: auto;
    text-align: center;
  }

  .user-card {
    height: 500px;
    width: 85%;
  }

  .db-status {
    left: 34%;
  }

  .db-status-info {
    font-size: 0.8rem;
  }

  .empty-database {
    font-size: 60px;
  }

  /*userInfo*/
  .gymId {
    text-align: center;
  }

  .image-userInfo {
    margin-bottom: 20px;
  }

  .profile-image-userInfo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid black;
  }

  #editButton {
    display: none;
  }
}
