@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

body {
  background-color: #c4c4c4;
 background-image : url("/images/headmanBack.svg");
  background-repeat: no-repeat;

}

.header1 {
  margin:20px;
  background-color: white;
  border-radius: 30px;
  height:55px;
  width:85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
}



.logo {
  padding-top: 5px;
}

.logo img {
  height: 75px;
}
.nav-bar{
  position: relative;
  top : 7px;
}
.nav-bar li{
  display: inline;
  padding-right: 20px;
}

.nav-bar li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav-bar li a:hover {
  color: #e5e5e5;
}


/*footer */


footer {
  float:bottom;
}

/* DARK - MODE*/
/* #24292e */


section {
  height: 80%;
  border: 2px solid black;
}









 /*-------------------------------------------------
                     ADD USERS
   -------------------------------------------------*/


   .fa-user-plus{
     font-size: 25px;
   }
   .form{
     background-color: white;
    width: 85%;
    padding-top: 50px;
    margin: auto ;
    border-radius: 30px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);

   }
   .user-details{
     position: relative;
     text-align: center;

   }
   .form-container{
     width : 50%;
     margin: auto;

   }
   .form-row{
     margin-bottom: 10px;
   }
   .colright{
       margin-right: 0;
   }
   .detailsInfo{
     color: #e5e5e5;
     text-align: center;
     position: relative;
     margin-bottom: 40px;
     margin-top: 40px;
   }
   .detailsInfo:before{
     content: "";
     width: 250px;
     height : 2px;
     background: #e5e5e5;
     position: absolute;
     left: 0;
     top: 50%;
     margin: auto;
   }
   .detailsInfo:after{
     content: "";
     width: 250px;
     height : 2px;
     background: #e5e5e5;
     position: absolute;
     right: 0;
     top: 50%;
     margin: auto;
   }
   .divider{
     border-style: none;
     border-bottom : none;
     height : 2px;
     color: #e5e5e5;
     border-top: 2px solid #e5e5e5;
     margin-top:30px;
   }
   .subbtn{
     border-radius: 30px;
     color: black;
     background-color: transparent;
     border : 2px solid black;
     padding: 10px;
    
     width: 150px;
     margin: auto;
   }
   .subbtn:hover{
     background-color: black;
     color: white;
   }
   #term , .conditions{
     font-size: 12px;
     color :#c4c4c4;
   }
   #terms{
     margin-top :5px;
     margin-right: 5px;
   }
/*footer*/
.footer {
  width : 40%;
  height:  50px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: none;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.24);
  position: relative;
}
.foot{
  position:relative;


  color : #c4c4c4;
  font-size: 15px;
  text-align: center;
}





@media only screen and (max-width: 1468px) {
  .detailsInfo:after,.detailsInfo:before{
      width: 150px;
  }
}
@media only screen and (max-width: 900px) {
  .detailsInfo:after,.detailsInfo:before{
      width: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .detailsInfo:after,.detailsInfo:before{
      width: 50px;
  }
}
